:root {
    --tomorrow-blue-colour: #5AACF6;
    --tomorrow-coral-colour: #F5615B;
    --spotify-green-color: #1ED760;

    --bg-color-darkest: #0B0B0B;
    --bg-color-mid: #212121;
    --bg-color-light: #404040;

    --main-light-color: #E0E0E0;

    --heading-font: "Josefin Sans", sans-serif;
    --body-font: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
   
    background-color: var(--bg-color-mid);
    /* Dark Charcoal Background */
    color: var(--main-light-color);
    /* Main Text Color */
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--body-font);
    font-weight: 700;
    text-transform: uppercase;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.25rem;
}

h5{
    font-size: 1rem;
}

/* General Styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(to bottom, #1E1E1E, #121212) no-repeat center center;
    background-size: cover;
    padding: 60px 20px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    /* Add shadow for depth */
    margin-bottom: 40px;
    /* Add space below header */
}

.header-content {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}


h1 {
    /* font-size: 3em; */
    /* Larger size for better prominence */
    margin-bottom: 0.5rem;
    color: var(--main-light-color);
    /* Main Header Text Color */
}

p {
    /* font-size: 1rem; */
    color: var(--main-light-color);
    line-height: 1.5;
    /* Slightly increased for readability */
}

/* Default for all buttons */
.button{ 
    border: none;
    border-radius: 120px !important;
    padding: 1rem 3rem !important;
    font-weight: 400;
    font-family: var(--body-font);
}

/* Specific for primary buttons */
.primary-button{
    background-color: var(--tomorrow-coral-colour);
    color: black;
    
}

.primary-button:hover{
    background-color: transparent;
    outline: var(--tomorrow-coral-colour);
    outline-width: 5px;
    outline-style: solid;
    color: var(--tomorrow-coral-colour);
}

/* Call-to-Action Button */
.cta-button {
    display: inline-block;
    background-color: var(--spotify-green-color);
    color: var(--bg-color-darkest);
    font-family: var(--body-font);
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: fit-content;
    
}

.cta-button:hover {
    background-color: #22994b;
    color: black;
    /* Darker Green for Hover */
}

#cta .spotify{
    min-height: 64px;
    min-width: 64px;
    height: 64px;
    width: 64px;
    border-radius: 100%;
    background-color: #000000;
    color: #1ED760 !important;
    margin: -1px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' fill='%231ED760' class='bi bi-spotify' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288'/%3E%3C/svg%3E");
    background-size: calc(100% + 2px);
    background-position: -1px -1px; 
    background-repeat: no-repeat;
}

#cta .flex{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

/* Section Styles */
section {
    padding: 100px 0px ;
    margin: 0 auto;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /* Add shadow for depth */
    background-color: #2C2C2C;
    /* Medium Dark Gray */
    color: #E0E0E0;
    /* Main Text Color */
}


/* Wave Background Accent Styling */
.wave-bg{
    background-color: transparent !important;
    position: relative;
}

.wave-bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center;
    opacity: 0.15; 
    z-index: -1; 
}

.wave-blue::before{
    background-image: url('images/wave-blue-01a.png');
}

.wave-white::before{
    background-image: url('images/wave-white-01a.png');
    opacity: 0.05; 
}


section h2{
    margin-bottom: 50px;
}

/* Specific Section Backgrounds */
#problem {
    background-color: var(--bg-color-mid)
    /* Medium Dark Gray */
}

#solution {
    background-color: var(--bg-color-darkest)
    /* Very Dark Gray */
}

#features {
    background-image: linear-gradient(var(--tomorrow-blue-colour), #B2CBE1);
}

#features h2, #features h3 {
    color: var(--bg-color-darkest);
    /* Feature Header Text Color */
}

#testimonials {
    position: relative;
    background: url('images/testimonial.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cta {
    background-color: var(--bg-color-mid);
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-position: reverse;
}

#cta h2 {
   
    color: var(--main-light-color);
}

#cta p {
    padding-top: 1%;
    color: var(--main-light-color);
    max-width: 600px;
    margin: 50px auto;
}

/* Additional Styles */

.features-grid {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.feature {
    flex: 1;
    
}

.feature i {
    margin: 2rem;
    color: var(--bg-color-darkest);
}

.feature h5 {
    margin-top: 1.25rem;
    margin-bottom: 0.5em;
    color: var(--bg-color-darkest);
    /* Feature Header Text Color */
}

.feature p {
    color: var(--bg-color-darkest);
    /* Feature Description Text Color */
}

#testimonials h2 {
    font-weight: bold;
}

.testimonial {
    padding: 20px;
}

.testimonial blockquote {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 3rem;
    color: var(--tomorrow-blue-colour);
    font-family: var(--heading-font);
}

.author-photo img {
    width: 10%;
    height: 10%;
    min-height: 100px;
    min-width: 100px;
    /* Ensure height matches width for a perfect circle */
    border-radius: 50%;
    /* Makes the image round */
    margin-top: 5px;
}

.testimonial .author-descriptor {
    color: var(--main-light-color);
}

.testimonial .author-descriptor p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-light-color);
}


footer {
    background-color: #000000;
    color: #E0E0E0;
    /* Footer Text Color */
    padding: 20px 0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.5);
    /* Deeper shadow for more separation */
    border-top: 5px solid var(--tomorrow-blue-colour);
    /* Adds a border to separate from the main content */
}

footer p {
    margin: 0;
}

/* Error and Success Messages */
.error-message {
    color: #FF6B6B;
    /* Bright Red for Error Messages */
}

.success-message {
    color: #4CAF50;
    /* Green for Success Messages */
}


.header {
    padding: 5px;
    background-color: var(--tomorrow-blue-colour);
    position: sticky;
    top: 0;
}

/*Hero Section*/
#hero-section{
    background: url('images/header.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.overlay {
    position: relative;
    background-color: var(--bg-color-darkest);
    background-size: cover;
    
}

.overlay::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1; 
}

.overlay-content{
    position: relative;
    z-index: 2;
}

#hero-section h1 {
    font-weight: bold;
    color: var(--tomorrow-blue-colour);
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
}

#hero-section p {
    font-size: 1.2rem;
    color: var(--main-light-color);
}


.title {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}

.svg-icon {
    position: absolute;
    top: -20px;
    right: -60px;
    width: 50px;
    height: 50px;
}

/*Why Section */
.why-section {
    background-color: var(--bg-color-mid);
    color: white;
    padding: 50px 0;
    text-align: center;
}


.problem,
.solution {
    background-color: var(--bg-color-darkest);
    padding: 30px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.problem h3,
.solution h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.problem p,
.solution p {
    font-size: 1rem;
    line-height: 1.6;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.arrow {
    font-size: 4rem;
    color: #5a8dee;
}

.container-boxes {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

@media (max-width: 768px) {
    .container-boxes {
        flex-direction: column;
    }

    .arrow {
        margin: 20px 0;
    }
}


/* Bootstrap Break point for responsive text */
/* Using rem is relative to the root font-size */

html {
    font-size: 10px; /* Default for extra small devices */
}

@media (min-width: 576px) {
    html {
        font-size: 14px; /* Small devices */
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px; /* Medium devices */
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px; /* Large devices */
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px; /* Extra large devices */
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 22px; /* XX-Large devices */
    }
}
